.order_h{
	border-top:1px solid #bec1c3;
	margin: .4rem;
    position: relative;	
}
.house_para img{
	vertical-align: middle;
}
.order_h_left{
	max-width: 11rem;

}
.order_h_left h3{
	font-weight: 700;
	color: #2c393f;
	line-height: 1.8rem;
	font-size: .7rem;
}
.order_h_left p{
   font-size:.6rem;
   color: #888f98;
   line-height: 1.3rem;
}
.order_h_r1{
	position: absolute;
	right: 0;
	width: 3rem;
	top:1rem;
	text-align: right;
	color: #70c858;
}
.order_h_r1 a{
	color: #70c858;
}
.order_h_r2{
	position: absolute;
	right: 0;
	width: 5rem;
	bottom: 1rem;
	text-align: right;
}
.order_money{
	color: #ff7373;
}
.order_add_people{
	margin: 1rem auto;
	width: 7.25rem;
	height: 2rem;
	border: 1px solid #70c858;
	border-radius: .3rem;
	text-align: center;
	line-height: 2rem;
	color: #2c393f;
}
.order_add_people a{
	color: #2c393f;
}
.order_add_people img{
	vertical-align: middle;
	width: .9rem;
	height: .9rem;
	margin-right: .2rem;
}
.oder_total_money{
	display:block;
	float: right;
	width: 6rem;
}
.order_list{
	margin: .5rem;
	position: relative;
}
.order_list li{
  padding: .25rem 0;
  border-bottom: 1px solid #eceff4;
  height: 2rem;
  line-height: 2rem;
}
.order_hb_zt{
	position: absolute;
	right: .2rem;
	top:20%;
	width: 1.4rem;
	height: 1.4rem;
	background: url(../img/hb_chos_1.png) no-repeat;
	background-size: 1.4rem 1.4rem;
}

.hb_ok{
	background: url(../img/hb_chos_2.png) no-repeat;
	background-size: 1.4rem 1.4rem;
} 
.order_pay{
	width: 12.5rem;
	display: block;
	margin: 3rem auto;
	height: 2rem;
	line-height: 2rem;
	background: #ff7373;
	color: #fff; 
	border: 0;
	border-radius: .5rem;

}
.order_qx{
	background: #70c858;
	margin-top:-2rem;
}

.person_list{
	margin: .2rem 0;
}
.person_list li{
   height: 3rem;
   padding: .5rem 0;
   border-bottom: 1px solid #eceff4;
   position: relative;
   text-indent: .3rem;
}
.person_list li a{
   display: block;
   height: auto;
   width: 10rem;
}
.person_list li h3{
	color:#2c393f;
	font-size: .7rem;
	line-height: 1.5rem;
	font-weight: 800;
}
.person_list li p{
	font-weight: 600;
   color:#5c5f63;
   font-size: .6rem;
   line-height:.8rem;
}
.person_list li span{
	font-weight: normal;
	color: #959ea7;
}
.order_b2{
  border-top:1px solid #bec1c3;
  border-bottom: 1px solid #bec1c3;
}
.person_input_list li{
	border-bottom: 1px solid #eceff4;
	text-indent:.5rem;
	line-height: 2.2rem;
	font-size: .625rem;


}
.person_input_list li span{
	 color: #5c5f63;
	 font-weight: 600;
}
.person_input_list li input{
	display: inline-block;
	color: #a9a9a9;
	border: 0;
	width: 9rem;
}
.person_add_confi{
	width: 15rem;
	margin: 1rem auto;
	height: 2rem;
	border-radius: .5rem;
	line-height: 2rem;
	color: #fff;
	background: #70c858;
	display: block;
	text-align: center;

}
.zf_cont{
	padding: 1rem 0;
	text-align: center;
	color: .7rem;
	color: #888f98;
	line-height: 2rem;
}
.zf_cont .ddh{
	color: #2c393f;
}
.pay_info{
	background: #eceff4;
	padding: 1rem .5rem;
	line-height: 1rem;
	min-height: 10rem;
	font-size: .6rem;
}
.pay_info h3{
	text-align: center;
	font-size: .8rem;
	color: #2c393f;
	line-height: 2rem;
}
.pay_ok_info{
	margin: 3rem 0 1rem;
	text-align: center;
	line-height: 1rem;
	color: #5c5f63;
	line-height: 1.2rem;
	font-size: .6rem;
}
.pay_ok_info h3{
	font-size: .8rem;
	color: #5c5f63;
	line-height: 2rem;
}
.pay_link a{
	width: 15rem;
	margin: 1rem auto;
	height: 2rem;
	border-radius: .5rem;
	line-height: 2rem;
	color: #fff;
	background: #70c858;
	display: block;
	text-align: center;

}
.title_top_border{
	border: 1px solid #bec1c3;
}
.article{
	padding: 10px 10px 50px;
	color: #888f98;
	font-size: .6rem;
	line-height: .9rem;
}
.article img{
	width: 100%;
	margin: 10px 0;
}
.hd_pic{
	position: relative;
}
.hd_pic img{
	width: 100%;
}
.hd_pic span{
	position: absolute;
	width: 7.6rem;
	height: 1.2rem;
	background:rgba(0,0,0,0.4);
	opacity: 1;
	color: white;
	display: inline-block;
	bottom: 0;
	text-align: center;
	bottom: .8rem;
	left: 4.5rem;
}
.hd_pic  label{
	color: #70c858;
	padding: 0 5px;
}
.hd_info h3{
	line-height: 1.7rem;
	background: #eceff4;
	font-size: .7rem;
	color: #2c393f;
	text-indent: .3rem;
}
.hd_info_box{
	padding: .5rem;
	background: white;
}
.hd_info_box p{
	line-height: 1rem;
	color: #888f98;
	font-size: .6rem;
}
.hd_join{
	position: fixed;
	bottom: 0;
	height: 2rem;
	padding: .5rem 0rem;
}
.hd_join_phone{
	display: inline-block;
	width: 7.25rem;
	height: 2rem;
	margin-left:.25rem;
	text-align: center;
	color: white;
	text-align: center;
	line-height: 2rem;
	background: #70c858;
	border-radius: .15rem;
	font-size: .7rem;
}
.hd_join img{
	vertical-align: middle;
	width: 1rem;
	height: 1rem;
	padding-right: .2rem;
}
.hd_join_local{
	background: #ff7373;
}

/*login*/

.login_warp{
	width: 16rem;
	height: 100%;
	
}
.login_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 16rem;
	height: 20rem;
	background: url(../img/login_bg.png);
	background-size: 100%;
	z-index: -1;
}
.login_back{
	background: none;
	color: white;
	font-size: .9rem;
	line-height: 2rem;
	height: 2rem;
	position: relative;

}
.login_logo{
	display: block;
	margin: 1rem auto;
	width: 10.2rem;
	height: 3rem;
	
}
.login_con{
	height: auto;
}

.login_form{
	width: 13.5rem;
	margin: 3rem auto;
	height: auto;
}
.login_form li{
	background: rgba(255,255,255,.8);
	border-radius: .3rem;
	margin-bottom: 1rem;
	color: #888f98;
	font-size: .9rem;
	padding: .2rem .2rem;
	height: 1.6rem;
	line-height: 1.6rem;
}
.login_form li label{
	display: inline-block;
	height: 1.6rem;
}
.login_form li span{
	display: inline-block;
	height: 1.6rem;
	color: #565b5f;
	font-size: .6rem;
	color: #888f98;
	
}
.login_form input{
	border: 0;
	background: none;
	width: 5.5rem;
	display: inline-block;
	height: 1.6rem;
	line-height: 1.6rem;

}
.login_form li img{
	vertical-align: middle;
}
.login_icon{
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.6rem;
}
.login_form li.login_btn{
	background: #70c858;
	color: white;
	text-align: center;
	font-size: .9rem;
}
.login_forget{
	background: none;
	display: block;
	height: 1.2rem;
	line-height: 1.2rem;
	color: white;
	text-align: right;
	font-size: .6rem;

}
.login_gologin{
	width: 6rem;
	height: 1.8rem;
	line-height: 1.8rem;
	border-radius: 1rem;
	color: green;
	font-size: .9rem;
	text-align: center;
	background: rgba(255,255,255,.8);
	margin: 1rem auto;
}
.login_gologin a{
	color: green;
}


