#calendar-box {
	position: absolute;
	margin-top: 2px;
	left: -100px;
	width: 538px;
	-webkit-box-shadow: 0 0 6px #bbb;
	-moz-box-shadow: 0 0 6px #bbb;
	box-shadow: 0 0 6px #bbb;
	background:#fff;
	z-index:999;
	padding-bottom: 10px;
}
.paddingR10 ul {
	border-right: 1px solid #d3d7e0;
}
.calendar-month {
	font-size: 12px;
	color: #333;
	float: left;
	width: 264px;
}
.calendar-title {
	position: relative;
	background-color: #70c858;
	height: 40px;
	line-height: 40px;
}
.calendar-title h2 {
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-weight: normal;
}
.calendar-week {
	position: relative;
	overflow: hidden;
}
.calendar-month li {
	float: left;
	width: 14%;
	padding: 0 1px;
	height: 28px;
	line-height:28px;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.calendar-month li:nth-child(7n + 1), .calendar-month li:nth-child(7n) {
	width: 15%;
}
.calendar-day {
	overflow: hidden;
}
.calendar-month .old,.calendar-month .unselectable {
	color: #959ea7;
	cursor: default;
}
.calendar-month .line3 {
	line-height:20px;
}
.calendar-month .cal_select span,.calendar-month .show-date span:hover {
	color: #fff;
	background-color:#70c858;
	display:inline-block;
	width:99%;
	height:26px;
	line-height:26px;
	height:26px\9;
	line-height:26px\9;
	cursor: pointer;
}
.calendar-month .line3 .icon_te {
	background: url(http://jci.xiaozhustatic2.com/e160330/images/icon_te.png) no-repeat;
	background-size: 12px 12px;
	display:inline-block;
	width:99%;
	height:37px;
	line-height:20px;
	margin-top: 1px;
	border-radius:3px;
}
.calendar-month .line3 em {
	display: block;
}
.calendar-month .cal_select em {
	color: #fff;
}
.calendar-month .cal_noRoom span {
	color: #999;
	background-color:#ddd;
	display:inline-block;
	width:99%;
	height:37px;
	margin-top: 1px;
	border-radius:3px;
}
.div_fixed {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.calendar_top {
	padding: 10px;
}
.cal_te {
	text-align: center;
	color:#70c858;
	line-height: 15px;
}
.icon_7 {
	background:url(http://jci.xiaozhustatic2.com/e160330/images/icon_7.png) no-repeat center;
	background-size:12px 15px;
	width:12px;
	height: 15px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
}
.cal_tu {
	padding: 10px;
}
.icon_cal_te {
	background:url(http://jci.xiaozhustatic2.com/e160330/images/icon_cal_te.png) no-repeat center;
	background-size:20px 19px;
	width:20px;
	height: 19px;
	display: inline-block;
	margin-right:10px;
	vertical-align: middle;
}
.icon_cal_no {
	background:url(http://jci.xiaozhustatic2.com/e160330/images/icon_cal_no.png) no-repeat center;
	background-size:20px 19px;
	width:20px;
	height: 19px;
	display: inline-block;
	margin-right:10px;
	vertical-align: middle;
}
.marginL25 {
	margin-left: 25px;
}
.cal_pre,.cal_next {
	background: url(http://jci.xiaozhustatic2.com/e160330/images/icon_cal_small.png) #70c858 no-repeat center 12px;
	width: 48px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 0;
	cursor: pointer;
}
.cal_pre {
	left: 0;
}
.cal_next {
	background-position: center -35px;
	right: 0;
}
.cal_pre:hover,.cal_next:hover {
	background-color: #27920A;
}
.close_can {
	line-height:22px;
	display:inline-block;
	padding:10px;
	color: #959ea7;
	clear: both;
	cursor: pointer;
	width:100px;
	text-align: center;
	
}
.clear_date {
	line-height:22px;
	display:inline-block;
	padding:10px;
	color: #959ea7;
	clear: both;
	cursor: pointer;
	width:82px;
	text-align: center;
}
.clear_date:hover,.close_can:hover {
	background: #70c858;
	color: white;
	border-radius: 10px;
	
}

