<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>搜索结果页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/slist.css">
	<link rel="stylesheet" href="css/can.css">
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<script type="text/javascript" src="js/frozen.js"></script>
	<script type="text/javascript" src="js/iscroll.js"></script>
	<script type="text/javascript" src="js/dialog.js"></script>
	<script type="text/javascript" src="js/can.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script src="js/common.js"></script>
	<script></script>
</head>
<body>
	<div id="search">
		

	</div>
	<script id="search_script" type="text/x-template">

	
	 <div class="sLi_top">
	 	 <div class="sLi_back" title="退后"></div>
	 	 <p>{{house_info.house_tel}}<p>
	 	 <div class="sLi_location"></div>
	 </div>
	 <div class="sLi_slider">
	 		<div class="ui-slider">
			    <ul class="ui-slider-content" style="width: 300%">

			    	<li v-for="slider in house_info.banner_image"><span style="background-image:url({{slider}})"></span></li>

			    </ul>
			</div>
	 </div>
   
	<div id="sLi_Q1" v-if="flag==1">
	 	<div class="sLi_tab">
		 	<div class="sLi_tab_title_wrap">
		 		 <div class="sLi_tab_title has_con" id="clander_tab" >
			 		3.1-3.8
			 	</div>

		 		<div class="sLi_tab_title sLi_tab_price begin_search">
		 			价格
		 			<span>&nbsp;</span>
		 		</div>
		 		<div class="sLi_tab_title has_con">
		 			<span>全部户型</span>
		 			<div class="sLi_tab_title tab_con tab_change" style="display:none;">
		 				<ul>
		 					<li class="begin_search house_type" v-for="house_type in select.select_house_type" type-id="{{house_type.type_id}}">{{house_type.name}}</li>
		 				</ul>
		 			</div>
		 		</div>
		 		<div class="sLi_tab_title has_con">
		 			<span>全部楼层</span>
		 			<div class="tab_con tab_change" style="display:none;">
		 				<ul>
		 					<li class="begin_search house_floor" v-for="house_floor in select.select_house_floor" >	{{house_floor}}</li>
		 				</ul>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="sLi_tab_bg" style="display:none;">
		 		&nbsp;
		 	</div>
	    </div>

		 <div class="sli_p">
		 	 <div class="sli_scroll_wrap" id="scroll_02">
		 	 	<div class="sli_scroll">
		 	 	  <ul class="sli_p_u1">
			 	 	<li class="des">楼号</li>
			 	 	<li class="num  begin_search" v-for="house_num in select.select_house_num" >{{house_num}}</li>
			 	  </ul>
		 	 	</div>
		 	 </div>
		 </div>
		 <div class="sli_p">
		 	 <div class="sli_scroll_wrap" id="scroll_03">
		 	 	<div class="sli_scroll">
		 	 	  <ul class="sli_p_u1">
			 	 	<li class="des">朝向</li>
			 	 	<li class="cx on">全部</li>
			 	 	<li class="cx begin_search" v-for="house_position in select.select_house_position" >{{house_position}}</li>
			 	 	
			 	  </ul>
		 	 	</div>
		 	 </div>
		 </div>
		 <div class="sLi_xfj">
		 	选房间
		 </div>
		 <div class="sLi_con_house">
		 	 <div class="house_list list_s1">
		 	 	 <div class="house_list_s1_con">
		 	 	 	<ul class="">
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 </ul>
		 	 	 </div>
		 	 </div>
		 	 <div class="house_list list_s1">
		 	 	 <div class="house_list_s1_con">
		 	 	 	<ul class="">
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 </ul>
		 	 	 </div>
		 	 </div>
		 	 <div class="house_list list_s1">
		 	 	 <div class="house_list_s1_con">
		 	 	 	<ul class="">
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 	<li>
				 	 		<a href="#">
				 	 			<h3>一居</h3>
				 	 			<p>1单元</br>
				 	 			5层02
				 	 			</p>
				 	 			
				 	 			<label class="money">
				 	 				400
				 	 			</label>
				 	 		</a>
				 	 	</li>
				 	 </ul>
		 	 	 </div>
		 	 </div>

		 </div>	
	</div>
	 
	 
	 <div class="sLi_des">
	 	<div class="sLi_xfj">
		 	旅居地描述
		 </div>
	 	<div class="sLi_con">
	 		{{house_info.desc}}
	 	</div>

	 	<div class="sLi_phone" title="{{house_info.house_tel}}"> </div>
	 </div>
	 <h3 style="clear:both"></h3>
	 <div class="sLi_maps">
	 	<div class="sLi_xfj">
		 	旅居地图
		 </div>
		 <div class="sLI_map_con">
		 	<img src="img/map_demo1.jpg"  width="100%" 	alt="" />
		 	<p class="map_con_tip">中国北京东城区工人体育场</p>
		 </div>
	 </div>
	<!--选择日期等弹框-->
     <div class="ui-dialog " id="ui-calendar">
		    <div class="ui-dialog-cnt">
		    	<!-- <button type="button" data-role="button"  class="select" id="">关闭</button>  -->
		    	<div id="calendarArea" >
				    <header class="cal_header">
				        <label class="cal_qk" data-role="button">返回</label>
				        <label class="cal_rz">选择旅居时间</label>
				        <label class="cal_qr begin_search" data-role="button" id="getCalender">确定<label>
				    </header>
				    <div id="calendar"></div>
				</div>
		    </div>        
	</div>
	</script>
	<script>
		window.urlObj = GetRequest();
		function loadDate(){
			// http://ljdf.dotalk.cn/api-cgi-product/detail?room_id=1009
			urlObj["_from"]="pc";
			var url = "http://ljdf.dotalk.cn/api-cgi-product/list";
			 $.ajax({
			 	url:url,
			 	dataType:'jsonp',
			 	data:urlObj,
			 	timeout:1000,
			 	success:function(data){
			 		if(data.code!==0){
			 			alert("网络异常")
			 		}else{
			 			console.log(data);
			 			sethtml(data.data);
			 		}
			 	}
			})
		}
		function sethtml(data){
			window.house_vm  = new Vue({
					el:"#search",
					data:data,
					replace: false,
					template:$("#search_script").html()
					
			}) 
			setTimeout(function(){
				dh();
			},1000)
			
		}
		loadDate();
	</script>>
	 <script>
	 function dh(){
	 	//页面的所有动画效果
	 	 $(function(){
			setZoom();
			setSllider();
			// setScroll();

			 // $(".sli_scroll").each(function(index){
			 // 	 sli_p_scroll(this);
			 // })
	 		setscroll($(".sli_scroll_wrap"));
	 		// setTimeout(function(){
	 		// 	new IScroll('#scroll_02', { scrollX: true, scrollY: false, mouseWheel: true });
	 		//     new IScroll('#scroll_03', { scrollX: true, scrollY: false, mouseWheel: true });
	 		// },300)
	        setscroll($(".house_list"));

	        //选择价格等弹框
	        $(".has_con").on("tap",function(){
	        	var _this = $(this);
	        	if($(this).hasClass("has_con_select")){
	        		//隐藏
	        		$(this).find(".tab_con").hide();
	        		$(this).removeClass("has_con_select");
	        	}else{
	        		//当前选项卡显示，其他选项卡关闭
	        		$(".has_con_select").trigger("tap");
	        		$(this).find(".tab_con").show();
	        		$(this).addClass("has_con_select");
	        	} 
	        	//change 改变值
	        	$(this).find(".tab_change").on("tap","li",function(){
	        		_this.find("span").html($(this).html());
	        	})
	        })

	        //cander
	        var now =new Date();
			window.cander= new Calendar({
                        display: 4,
                        type: 'multiple',
                        el: $('#calendar'),
                        currentDate: now,
                        firstFloatMsg: ['请选择入住日期'],
                        secondFloatMsg: ['请选择离店日期'],
                        dateArea: 7,
                        callback: function() {
                            var dates = this.getSelectedDate();
                            if (dates.length < 2) {
                                return false;
                            }
                            // checkinDate = new Date(dates[0]);
                            // checkoutDate = new Date(dates[1]);
                            // checkinInput.val(dates[0]);
                            // checkoutInput.val(dates[1]);
                            // self._setCheckin(checkinDate);
                            // self._setCheckout(checkoutDate);
                            // self.setNight();
                            // history.back();
                        },
                        bottom_center: function() {
                            if (this.settings.type == 'multiple') {
                                if (this._getSelectedDate().length == 1) {
                                    return '入住';
                                } else {
                                    return '离店';
                                }
                            } else {
                                return '';
                            }
                        }
             });
			$("#clander_tab").tap(function(){
			 	var _this = $(this);
				var offsetY =$(this).offset().top;
				window.scrollTo(0,offsetY-10);
			   	window.scrollTo(0,offsetY-10);
			    var dia2=$("#ui-calendar").dialog("show");
			     $("#getCalender").tap(function(){
				    var data = window.cander._getSelectedDate();
				  	var begin =data[0].slice(5).replace("-",".");
				  	var end =data[1].slice(5).replace("-",".")
				    _this.html(begin+"-"+end);
				    $(_this).removeClass("has_con_select");
				    urlObj["start_day"] =begin;
				    urlObj["end_day"] =end;
			 	})
			   
			})

			//sLi_tab_price
			//price
			$(".sLi_tab_price").on("tap",function(){
				var icon = $(this).find("span")
				if(icon.hasClass("up")){
					urlObj["price"] ="desc";
					icon.removeClass("up");
				}else{
					urlObj["price"] ="asc";
					icon.addClass("up");
				}
			})
			$(".house_floor").on("tap",function(){
				var floor = $(this).html();
				urlObj["house_floor"] =floor;
			})
			$(".house_type").on("tap",function(){
				var house_type = $(this).attr("type-id");
				urlObj["house_type"] =house_type;
			})
			$(".house_type")
	        $("li.num").on("tap",function(){
	        	urlObj["house_num"] = $(this).html();
	        });
	        $("li.cx").on("tap",function(){
	        	var html = $(this).html();
	        	if(html == "全部"){
	        		urlObj["house_position"] =null;
	        		delete urlObj.house_position;
	        	}else{
	        		urlObj["house_position"] =html;
	        	}
	        })
	        // //朝向
	        // $("li.cx");

	        getNewSearch();

	    })
	 }
	 function getNewSearch(){
	 	$(".begin_search").on("tap",function(){
	 		//触发search属性
	 		setTimeout(function(){
	 			console.log("begin to search");
	 		},200)
	 		//1、收集要查询的属性
	 		loadDate();
	 		//2、拼接url，查询
	 	})
	 }

	 function setscroll(dom){
	 	 dom.each(function(index){
	 	 	var child = $(this).find("ul li");
	 	 	var totalWidth=0;
	 	 	child.each(function(){
	 	 		totalWidth += $(this).width();
	 	 	})
	 	 	totalWidth+=30;
	 	 	$(this).children().eq(0).width(totalWidth);
	 	 	new IScroll($(this).get(0), { scrollX: true, scrollY: false, mouseWheel: true });
	 	 	
	 	 }) 

	 }
	 function setZoom(){
			function reZoom(){
				var html = $("html");
				var pW = html.width();
				var fZ =pW/320*20;
				html.css("font-size",fZ);
		    }
		    reZoom();
		    $(window).resize(function(){
				console.log("resize");
				reZoom();
			})
	 }
	  function setSllider(){

		    /* fz 即 FrozenJS 的意思 */
		    var slider = new fz.Scroll('.ui-slider', {
		        role: 'slider',
		        indicator: true,
		        autoplay: true,
		        interval: 3000
		    });

		    /* 滑动开始前 */
		    slider.on('beforeScrollStart', function(from, to) {
		        // from 为当前页，to 为下一页
		    })

		    /* 滑动结束 */
		    slider.on('scrollEnd', function(cruPage) {
		        // curPage 当前页
		    });

	}

	 </script>
</body>
</html>